.Cart{
  padding-top: 200px;
  padding-bottom: 200px;
}
.CartItem__image img {
  max-width: 100%;
}
.CartItem,.CartHeader{
  border: 0.5px solid rgb(207, 205, 205);
  margin-top: 20px;
}
.CartItem__quantity button{
  width: 50px;
}
.CartActions button{
  margin: 0 0;
  width: 200px;
  background-color: #FF6131;
}
@media (max-width: 768px) {
  .CartHeader__item, .CartItem__details h3, .CartItem__price, .CartItem__total, .CartItem__remove, .CartTotal h3 {
    font-size: 0.9rem; 
  }
  .CartItem__quantity button{
    width: 25px;
  }
 
}
.CartItem__remove i{
  font-size: 2rem;
  cursor: pointer;
}
@media (max-width: 576px) {
  .CartHeader__item, .CartItem__details h3, .CartItem__price, .CartItem__total, .CartItem__remove, .CartTotal h3 {
    font-size: 0.8rem; 
  }

  .CartItem {
    flex-direction: column;
    text-align: left;
  }

  .CartItem__quantity {
    flex-direction: row;
  }
  .CartHeader{
    display: none;
  }
  .CartItem__quantity button{
  }

}
/* Cart.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.modal-content button {
  margin: 10px;
}
.modalBtn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}