

.promotion{
  padding: 30px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
}

.promotion__img{
 
}
.promotion__img .promotion__img--shop{
  height: auto;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.promotion__img .promotion__img--freeship{
  width: 100%;
  height: 400px;
  margin: 0 10px;
  object-fit: cover;

}

/*----------Main-Products--------- */
.main-products{
  width: 100%;
}
.product__bestseller,.product__discount{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product__bestseller--title,.product__discount--title{
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid rgb(102, 102, 102);

}
.product__bestseller--title i,.product__discount--title i{
  font-size: 20px;
  color: #ff6131;
  padding: 5px 5px;
  z-index: 2;
  margin-left: 5px;
}
.product__bestseller--text ,.product__discount--text{
  margin-left: 5px;
  background-color: var(--main-bg-color);
  padding: 5px 5px;
  color: white;
  text-align: center;

}
.btn__moreProducts{
  text-align: center;
  padding: 1rem 0;
}
.btn__moreProducts button{
  background-color: bisque;
  border-radius: 10px;

}
.product__bestseller--title::before,.product__discount--title::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(//bizweb.dktcdn.net/100/039/691/themes/895040/assets/bg_title.png?1665484620046) #ff6131 top 5px left 5px no-repeat;
    background-size: 40px;
    z-index: 1;

}
.products{
  padding: 20px 0;
  width: 100%;
}

.product__item {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  height: 100%;
  box-sizing: border-box;
}
.product__item img {
  width: 100%; /* Đặt chiều rộng tối đa cho ảnh */
  height: 250px; /* Đặt chiều cao cố định */
  object-fit: cover; /* Đảm bảo ảnh phủ đầy không gian mà không bị méo */
  border-radius: 4px; /* Tùy chọn: làm tròn góc nếu bạn muốn */
}
.product__item--discount{
  position: relative;

}
.product__item--name,.product__item--price,.product__item--discount{
  margin:  10px 0;
}
.product__item--name{
  font-size: 15px;
}
.product__item--price{
  font-size: 18px;
}
.product__item--discount{
  position: absolute;
  background-color: #ff6131;
  color: aliceblue;
  padding: 5px 5px;
  border-radius: 3px;
  margin-top: -5px;
}

/*---Responsive-- */
@media (max-width: 62em) and (min-width: 42.25em) {
  .promotion__img--freeship{
    display: none;
  }

  
}
@media (max-width: 42.25em) {
  .promotion__img--freeship{
    display: none;
  }

  .promotion__img--shop,.promotion__img--freeship{
    height: 250px !important;
  }
  .midHead__cart--item{
    height: 30px;
  }
}