.topHead{
    height: 40px;
    background:linear-gradient(120deg,#3fb4fb 50%, #383838 50%);

}
.topHead .container{
    height: 100%;
    display: flex;
}
.topHead__login{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20%;
    height: 100%;
    width: 50%;
}
.topHead__login h4{
    font-size: 12px;
    color: white;
    font-weight: 400;
    margin: 0 0;
}
.topHead__login span{
    color: white;
    margin: 0 10px;
}
.topHead__login h4:hover{
    color: var(--main-bg-color);
    cursor: pointer;
}
/*-----topHead__infor----- */
.topHead__infor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 50%;
}
.topHead__infor span{
    font-size: 12px;
    color: white;
}
.topHead__infor i{
    color: white;
    border: 1px solid white;
    margin-right: 10px;
    padding: 5px 5px;
    border-radius: 50%;
}
.topHead__infor i:hover{
    cursor: pointer;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.topHead__infor--mail,.topHead__infor--phone{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*-----MIDHEAD---------- */
.midHead{
    display: flex;
    background-color: var(--main-bg-color);
    padding:  30px 0;
    height: auto;

}
.midHead .container{
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.midHead__logo{
    width: 25%;
    height: 100%;
}
.midHead__logo img{
    height: 50px;
    width: 120px;
    
   
}
.midHead__fSearch{
    width: 50%;
    height: 100%;
}
.midHead__fSearch form{
    display: flex;
    height: 100%;
    align-items: center;
    
}
.midHead__fSearch input{
    width: 85%;
    height: 80%;
    padding: 0 0 0 10%;
    border:  0;
}
.midHead__fSearch button{
    width:  15%;
    height: 80%;
    background-color: var(--main-color);
    border: 0;
    padding: 0;
}
.midHead__fSearch button:hover{
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}
.midHead__fSearch button i{
    font-size: 1rem;
    color: white;
}
.midHead__cart{
    display: flex;
    height: 100%;
    width: 25%;
    padding: 0 0;
    align-item: center;
    justify-content: right;
    margin-top: 10px;
   

}
.midHead__cart--item{
    display: flex;
    width: 150px;
    background-color: #FF6131;
    flex-direction: row;
    height: 80%;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
}

.midHead__cart i{
    font-size: 1.0em;
    color: white;
    margin: 0  10px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.2rem;
    box-sizing: border-box;
}

.midHead__cart span{
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 550;
    white-space: nowrap;

}

/*---- Navigation---- */
.navigation{
    background-color: var(--main-color);

}
.navigation .container{
    margin: 0 10%;
    height: 100%;
}
.navigation .navigation__origin{
    list-style: none;
    margin: 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    padding:  0 0;
}

.navigation ul li{
    display: flex;
    margin-right: 40px;
    color: white;
    font-size: 15px;
    font-weight:550;
    cursor: pointer;
    height: 100%;
    align-items: center;
    text-align: center;
}
.navigation__products {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation__products i{
    font-size: 15px;
    font-weight: 100;
}
.navigation ul a::before{
    content: "";
    position: absolute;
    height: 0;
    width: 6px;
    background-color: #FFE51E;
    margin-left: -10px;
}
.navigation ul li a{
    text-decoration: none;
    color: white;
}

.navigation ul a:hover::before{
    height: 25px;
}
.navigation ul a.selected::before{
    height: 25px;
}
.navigation__products span{
    height: 100%;
}
.navigation__products ul{
    display: none;
}
.products__category{
    position: absolute;
    list-style: none;
    display: none;
    width: 150px;
    background-color: none;
    background-color: var(--main-bg-color);
    margin-top: 10px;
}
.navigation__products:hover .products__category{
    display:block;
}

.category__item{
    display: flex;
    margin-top: 10px;
    font-size: 13px !important;
    padding-bottom: 10px;
    text-align: left !important;
    white-space: nowrap;
    
}

.products__category li::before{
    content: "";
    position: absolute;
    height: 0;
    width: 6px;
    background-color: #FFE51E;
    margin-left: -10px;
}

.products__category li:hover::before{
    height: 25px;
}
.navigation__tablet{
    display: none;
}

.navigation__tablet i{
    font-size: 1.75rem;
    cursor: pointer;
    color: rgb(167, 151, 151);
}
.navigation-tablet__content{
    padding-top: 10%;
    padding-right: 5%;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6f7579;  
    height: 100%;  
    width: 40%;
    margin: 0 0;
    z-index: 3;
}


.navigation-tablet__content i{
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
    font-size: 2.5rem !important;
    color: white;
    
}
 .navigation__item{
    border-top:2px solid white;
    margin: 0 0 !important;
    height: 8% !important;
} 
.navigation__item:hover{
    color: var(--main-color);
}
.navigation-tablet__content li{
    display: flex;
    flex-direction: row;
    align-items: center
}
.navigation__item .bi-chevron-down{
    font-size: 1rem !important;
    margin: 0;
}
.item__category{
    display: none;
}
@keyframes moveRight {
    0% { transform: translateX(-500px); }
    100% { transform: translateX(0); }
}

.moveRight {
    animation: moveRight 0.5s forwards;
}

.navigation__tablet .midHead__cart{
    display: none;
}
/*----BreakPoint--- */
@media (min-width:769px) and (max-width:992px){
.topHead .container {
    margin: 0 10%;
}
.topHead__login{
    margin: 0 0;
}

/*---Navigation--- */
.navigation{
    background-color: var(--main-bg-color);
    height: 50px;

}
.navigation::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    border-top: 1px solid rgb(57, 55, 55);
}
.navigation__origin {
    display: none !important;
}
.navigation__tablet{
    display: flex;
    height: 100%;
    align-items: center;
}
.navigation__tablet i{
    font-size: 25px;
}
.navigation__tablet .midHead__cart{
    display: none;
}
}

@media (min-width:577px) and (max-width:768px){
    .topHead__infor{
        display: none;
    }
    .midHead__cart{
        display: none;
    }
    .midHead__fSearch{
        width: 100%;
    }
    .midHead .container{
        display: flex;
        flex-direction: column;
        margin: 0 10%;
        height: 100px;
    }
    .midHead .midHead__fSearch form{
        height: 40px;
    }
    .navigation{
        background-color: var(--main-bg-color);
        height: 50px;
    }
    .navigation__origin {
        display: none !important;
    }
    .navigation__tablet{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    }
    .navigation__tablet svg{
    font-size: 25px;
    }
    .navigation__tablet .midHead__cart{
        display: flex;
        width: 40% !important;
        align-items: center;
        margin-top: -10px !important;

    }
    .navigation__tablet .midHead__cart .midHead__cart--item{
        border-radius: 3px;
        padding: 3px 0;

    }
    .midHead__cart--item i{
        font-size: 15px;
        color: white;
        margin: 0  10px;
        border: 1px solid white;
        border-radius: 50%;
        padding: 5px;
    }
    .bi-cart {
        font-size: 12px !important; /* Kích thước còn nhỏ hơn */
      }   
}

@media (max-width:576px){
    .topHead{
        height: 40px;
        background:linear-gradient(120deg,#3fb4fb 100%, #3fb4fb 50%);
    }
    .topHead__infor{
        display: none;
    }
    .midHead__cart{
        display: none;
    }
    .midHead__fSearch{
        width: 100%;
    }
    .midHead .container{
        display: flex;
        flex-direction: column;
        height: 100px;
    }
    .midHead .midHead__fSearch form{
        height: 40px;
    }
    .navigation{
        background-color: var(--main-bg-color);
        height: 50px;
    }
    .navigation__origin {
        display: none !important;
    }
    .navigation__tablet{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    }
    .navigation__tablet svg{
    font-size: 25px;
    }
    .navigation__tablet .midHead__cart{
        display: flex;
        width: 40% !important;
        align-items: center;
        margin-top: -10px !important;
    }
    .navigation__tablet .midHead__cart .midHead__cart--item{
        border-radius: 3px;
        padding: 3px 0;

    }
    .midHead__cart--item svg{
        font-size: 15px;
        color: white;
        margin: 0  10px;
        border: 1px solid white;
        border-radius: 50%;
        padding: 5px;
    }
    .container{
        margin:  0 2% !important;
    }
    .bi-cart {
        font-size: 12px !important; /* Kích thước còn nhỏ hơn */
      }   

   
}
